---
layout: base
title: Choose Service - Bar-B-Q - Pleasant View, TN - Que'd Up 615
description: Choose pickup or delivery and start your order from Que'd Up 615 in Pleasant View, TN.
tags: order_page
order: 6
eleventyNavigation:
  key: Order
  title: Order Now
  order: 6
---

<section>
  <div class="max-w-screen-xl mx-auto w-full px-3 py-16">
    <h2 class="my-5 text-center font-bold text-2xl">Choose Order Type</h2>

    <div class="flex flex-col md:flex-row md:flex-wrap md:justify-center items-center md:items-end gap-12 my-10">
      <div class="flex flex-col gap-6 items-center justify-center">
        <a href="/bar-b-q-food-order-online-pickup">
          <img src="{{ restaurant.logo }}" alt="Que'd Up 615 Pickup" class="w-[200px]">
        </a>
        <a class="btn-primary self-center mb-auto items-end inline-block text-center" href="/bar-b-q-food-order-online-pickup">Order Pickup</a>
      </div>

      <div class="flex flex-col gap-6 items-center justify-center">
        <a target="_blank" rel="noopener noreferrer" href="https://premiumfooddelivery.org/index/restaurants/ee0bf191/32731">
          <img src="https://premiumfooddelivery.org/images/round_logo.png" alt="Premium Food Delivery" class="w-[200px]">
        </a>
        <a class="btn-primary self-center inline-block text-center" target="_blank" rel="noopener noreferrer" href="https://premiumfooddelivery.org/index/restaurants/ee0bf191/32731">Order Delivery</a>
      </div>
    </div>
  </div>
</section>
