---
layout: base
title: city name
description: add seo
---

{# about section #}

<section id="about" class="">

  <div class="max-w-[1800px] mx-auto w-full px-6 py-16">
    <div class="flex flex-col gap-7 md:flex-row md:flex-wrap">
      <div class="flex-1">
        <h2 class="text-4xl font-bold mb-5">The best {{ restaurant.cuisine }} in {{ restaurant.servingCity1 }}</h2>
        <p class="text-lg">
          Locally owned and operated, {{ restaurant.name }} serves fresh and
          delicious {{ restaurant.cuisine }} dishes in {{ restaurant.servingCity1 }}. We
          pride ourselves on offering our customers an amazing experience,
          whether in-house or take out. Our mission is to create the best {{ restaurant.cuisine }}
          food and provide exceptional service that will leave you feeling
          satisfied and ready to come back for more.
        </p>
        <div class="mt-10">
          <a href="/{{ restaurant.urlCuisine }}-food-about-us" class="btn-primary inline-block shadow-lg">Learn More</a>
        </div>
      </div>
      <div class="flex-1 md:mt-10 "><img class="w-full rounded-3xl shadow-xl" src="{{ restaurant.homeAboutImage1 }}"></div>
      <div class="flex-1 hidden md:block"><img class="w-full rounded-3xl shadow-xl" src="{{ restaurant.homeAboutImage2 }}"></div>
    </div>
  </div>

</section>

{# Popular Menu Items #}

<section id="pop_items" class="relative">
  <div class="hidden md:block w-full h-3/6 absolute top-0 left-0 bg-primary-800 z-10"></div>

  <div class="max-w-[1800px] mx-auto w-full px-2 py-16 relative z-20">
    <h2 class="text-4xl font-bold mb-5 text-center md:text-white">Popular Items</h2>
    <div class="flex flex-wrap px-4 md:px-0 gap-8 md:flex-row md:flex-wrap mt-10 md:gap-8 justify-center">

      <div class="md:flex-1 bg-white rounded-xl shadow-lg transform hover:scale-105 transition duration-700">
        <a href="{{ restaurant.popItemLink1 }}">
          <div class="">
            <figure class="text-center">
              <img class="rounded-xl rounded-b-none" src="{{ restaurant.popItemImage1 }}">
              <figurecaption class="md:text-xl font-bold p-3 md:py-5 block">
                {{ restaurant.popItemName1 }}
              </figurecaption>
            </figure>
          </div>
        </a>
      </div>

      <div class="md:flex-1 bg-white rounded-xl shadow-lg transform hover:scale-105 transition duration-700">
        <a href="{{ restaurant.popItemLink2 }}">
          <div class="">
            <figure class="text-center">
              <img class="rounded-xl rounded-b-none" src="{{ restaurant.popItemImage2 }}">
              <figurecaption class="md:text-xl font-bold p-3 md:py-5 block">
                {{ restaurant.popItemName2 }}
              </figurecaption>
            </figure>
          </div>
        </a>
      </div>

      <div class="md:flex-1 bg-white rounded-xl shadow-lg transform hover:scale-105 transition duration-700">
        <a href="{{ restaurant.popItemLink3 }}">
          <div class="">
            <figure class="text-center">
              <img class="rounded-xl rounded-b-none" src="{{ restaurant.popItemImage3  }}">
              <figurecaption class="md:text-xl font-bold p-3 md:py-5 block">
                {{ restaurant.popItemName3 }}
              </figurecaption>
            </figure>
          </div>
        </a>
      </div>

      <div class="md:flex-1 bg-white rounded-xl shadow-lg transform hover:scale-105 transition duration-700">
        <a href="{{ restaurant.popItemLink4 }}">
          <div class="">
            <figure class="text-center">
              <img class="rounded-xl rounded-b-none" src="{{ restaurant.popItemImage4  }}">
              <figurecaption class="md:text-xl font-bold p-3 md:py-5 block">
                {{ restaurant.popItemName4 }}
              </figurecaption>
            </figure>
          </div>
        </a>
      </div>

    </div>
    <div class="text-center mt-10">
      <a href="/{{ restaurant.urlCuisine }}-food-order-online" class="btn-primary inline-block shadow-lg">Order from full menu</a>
    </div>
  </div>
</section>

{# loyalty rewards section #}

<section id="loyalty_rewards" class="">
  <div class="max-w-screen-xl mx-auto w-full px-6 py-16">
    <div class="loyalty-rewards_wrapper flex flex-col-reverse md:flex-row gap-12">
      <div class="loyalty-content">
        <h2 class="text-4xl font-bold mb-5">{{ restaurant.name }} Rewards</h2>
        <p class="text-lg">
          Turn your orders into rewards by joining the {{ restaurant.name }}
          Rewards program. Earn points for every order you place through our
          website or app and use them to unlock rewards. Check out ways to earn
          bonus points, move up tier levels and collect exclusive rewards.
        </p>
        <p class="text-lg mt-5">
          Not a member yet? Join now to start earning. 
          <a href="/{{ restaurant.urlCuisine }}-food-order-online/restaurants/{{ restaurant.permalink }}/{{ restaurant.id }}/about-loyalty" class="text-brand font-bold underline">Learn More</a>
        </p>
        <div class="mt-7">
          <a href="/{{ restaurant.urlCuisine }}-food-order-online/restaurants/{{ restaurant.permalink }}/{{ restaurant.id }}/signup" class="btn-primary inline-block shadow-lg">Join Now</a>
        </div>
      </div>
      <div class="loyalty-image">
        <img class="w-44 md:w-[500px]" src="{{ restaurant.loyaltyGraphic }}" alt="loyalty-graphic">
      </div>
    </div>
  </section>

  {# mobile app download seciton #}

  <section id="download_app" class="">
    <div class="max-w-screen-xl mx-auto w-full px-6 py-16">
      <div class="download-app-wrapper flex flex-col md:flex-row md-flex-wrap gap-14">
        <div class="app-image text-center">
          <img class="w-96 md:w-[600px] block mx-auto" src="{{ restaurant.downloadAppImage }}" alt="mobile-app-image">
        </div>
        <div class="app-content flex flex-col items-center justify-center md:pl-5 md:items-start">
          <h2 class="text-4xl font-bold mb-5 text-center md:text-left">Download The App To Order Online & Earn Rewards</h2>
          <div class="flex gap-5 mt-12">
            <a href="{{ restaurant.iosLink }}" target="_blank"  class="hover:cursor-pointer"><img class="w-52" src="/images/Apple-Play-icon.png"></a>
            <a href="{{ restaurant.androidLink }}" target="_blank"  class="hover:cursor-pointer"><img class="w-52" src="/images/Google-Play-icon.png"></a>
          </div>
        </div>
      </div>
    </section>

    {# app widget seciton #}

    <section id="app_widget" class="">
      <div class="max-w-screen-xl mx-auto w-full px-6 py-16">
        {# this is dummy form from other account #}
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-92f0218f-f1fd-496a-a165-ba8fc19a6e3e"></div>
      </div>
    </section>