{# <section id="download_app" class="">
    <div class="max-w-screen-xl mx-auto w-full px-6 py-16">
        <div class="download-app-wrapper flex flex-col md:flex-row md-flex-wrap gap-14">
            <div class="app-image text-center">
                <img class="w-96 md:w-[600px] block mx-auto" src="{{ restaurant.downloadAppImage }}" alt="mobile-app-image">
            </div>
            <div class="app-content flex flex-col items-center justify-center md:pl-5 md:items-start">
                <h2 class="text-4xl font-bold mb-5 text-center md:text-left">Download The App To Order Online & Earn Rewards</h2>
                <p class="text-2xl font-bold mb-5 text-center md:text-left">Coming Soon</p>
                <div class="flex gap-5 mt-12">
                    <a href="{{ restaurant.iosLink }}" target="_blank"  class="hover:cursor-pointer"><img class="w-52" src="/images/Apple-Play-icon.png"></a>
                    <a href="{{ restaurant.androidLink }}" target="_blank"  class="hover:cursor-pointer"><img class="w-52" src="/images/Google-Play-icon.png"></a>
                </div>
            </div>
        </div>
    </section> #}